
body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(to bottom right, #404e5c, #e34a6f);
	color: #000000;
}

#todo-app {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px; /* change to REM when done to play around with look (1rem=16px)*/
	background-color: #fff;
	border-radius: 10px; /* change to REM when done to play around with look (1rem=16px)*/
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todo-form input[type="text"] {
	width: 70%;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 4px;
	margin-right: 10px;
}

#todo-form button {
	padding: 10px 10px;
	background-color: #1e2d2f;
	color: #ddd;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#todo-form button:hover {
	background-color: #f1ab86;
	color: #000000;
}

#todo-list {
	list-style: none;
	padding: 0;
}

#todo-list li {
	background-color: #f9f9f9;
	margin-top: 10px;
	padding: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
